</body>
<footer>
  <div class="container">
    <p>
      Sales Tracker - Patrick Cheung - pika206@gmail.com  - <a href="https://github.com/thepika206/sales-tracker">GitHub-@thepika206</a>
    </p>
  </div>
</footer>
</html>
