<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<main>
  <section>
    <% if (user) { %>
      <h1>Getting Started with Sales Tracker</h1>
      <h5>Add a <a href="/leads/new">New Lead</a>, or continue working on <a href="/leads/my-leads-open">Leads</a>.</h5>
      <img id="home-splash-image" class="mb-3" src="/images/st-intro-flow.png" alt="flow-chart">
      <% } else { %>
        <h1>Welcome to Sales Tracker</h1>
        <h4>Please login using the "Sign in with Google" above</h4>
        <p>
          Sales Tracker is Client Relationship Manager application that requires a sign-in with Google (OAuth). 
        </p> 
        <p>
          Once signed in, you can try the many CRM features.
        </p>
      <img id="home-splash-image" class="mb-3" src="/images/st-intro-flow.png" alt="flow-chart">
      <label>
        Screenshot of New Lead page
        <img class="mb-3" src="/images/st-image-2.png" alt="screenshot a new sale lead submission form in the application">
      </label>
      <label>
        Screenshot of Lead Details page
        <img class="mb-3" src="/images/st-image-1.png" alt="screenshot of a sale lead in the application">
      </label>
      <% } %>
      <p>Thank you for visiting my project application.  You can learn more by viewing the <a href="https://github.com/thepika206/sales-tracker">README</a> - Patrick Cheung</p>
  </section>
</main>
<%- include('./partials/footer') %>
