<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<main>
  <section>
    <% if (user) { %>
      <h1>Getting Started with Sales Tracker</h1>
      <h5>Add a <a href="/leads/new">New Lead</a>, or continue working on <a href="/leads/my-leads-open">Leads</a>.</h5>
      <img id="home-splash-image" class="mb-3" src="/images/st-intro-flow.png" alt="flow-chart">
      <% } else { %>
        <h1>Welcome to Sales Tracker</h1>
        <h4>Please login using the "Sign in with Google" above</h4>
      <img id="home-splash-image" class="mb-3" src="/images/st-intro-flow.png" alt="flow-chart">
      <% } %>
      <p>Thank you for visiting my project application.  You can learn more by viewing the <a href="https://github.com/thepika206/sales-tracker">README</a> - Patrick Cheung</p>
  </section>
</main>
<%- include('./partials/footer') %>
