html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: whitesmoke;
  color: #444;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  /* min-height: 80vh; */
}

section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.right {
  margin-left: auto;
}


div.card {
  width: 100%;
  max-width: 800px
}

.small-round-avatar {
  border-radius: 50%;
  width: 30px;
  margin: 0 5px;;
}

#home-splash-image{
  width: 100%;
  max-width: 600px;
}

