<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> New Lead %></h1>
  <form action="/leads" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Lead Name</label>
      <input name="name" type="text" class="form-control" id="name" placeholder="John Doe">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Lead Description</label>
      <textarea name="description" class="form-control" id="description" rows="3" placeholder="briefly describe the stated needs for the customer"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Lead</button>
  </form>
  
</main>

<%- include('../partials/footer') %>