<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1> New Lead </h1>
    <form action="/leads" method="POST">
      <!-- Lead Name -->
      <div class="mb-3">
        <label for="name" class="form-label">Lead Name</label>
        <input name="name" required type="text" class="form-control" id="name" placeholder="Full Name" autocomplete="off">
      </div>
      <!-- Lead Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Lead Description</label>
        <textarea name="description" class="form-control" id="description" rows="3" placeholder="client needs, any special notes for handling"></textarea>
      </div>
      <!-- Save button to create the lead -->
      <button type="submit" class="btn btn-primary">Create Lead</button>
      
    </form>
  </section>
</main>

<%- include('../partials/footer') %>